<div class="menu">
  <a href="/">Главная</a>
  <a href="/a/">Жизнь</a>
  <a href="/m/">Мысли</a>
  <a href="/guides/">Инструкции</a>
  <a href="/views/">Обзоры</a>
  <a href="/pro100/">ПРО100</a>
  <a href="/errors/">Ошибки</a>
  <a href="https://dm_mor.t.me/">Телеграм</a>
  <label id="switch" class="switch">
    <input type="checkbox" onchange="toggleTheme()" id="slider">
    <span class="slider round"></span>
</label>
</div>
<style>.menu a{
  color: white;
  text-decoration: none;
  padding-right: 15px;
  font-size: 20px;
}
.menu a:hover{
  color: rgba(198, 206, 215, 0.91)
}</style>